{% load i18n %}
{% language newsletter_language %}

{% trans "Hello" %} <b>{{ name }}</b>,

<p>{% trans "The Feowl team needs your help!" %}</p>
<p>{% trans "We want to know if you experienced powercuts in Douala yesterday." %}</p>
<p>{% trans "To help us,please connect to your" %}  <a href="http://www.feowl.com/user/profile">{% trans "profile page" %}</a> {% trans "and click "Contribute"." %}</p>
<p>{% trans "Reminder: If you have lost your password, you can reset it using this link:" %} <a href="http://www.feowl.com">feowl.com</a></p>
<p>{% trans "Thank you for your contribution," %}</p>
<p>{% trans "See you soon," %}</p>
<p>{% trans "The Feowl team" %}</p>
<p><small>{% trans "You received this message because this email address was used to register to Feowl." %} <a href="http://www.feowl.com/user/profile">{% trans "You can unsubscribe at anytime on this page." %}</a></small></p>

{% endlanguage %}
