{% load i18n %}
{% language newsletter_language %}

{% trans "Hello," %}

<p>{% trans "Thank you for registering on Feowl.com, the platform producing accurate and usable public data on the supply of electricity in Douala. You are now registered under the name" %} {{ name }} </p> 

<p>{% trans "To connect to Feowl, visit" %}  <a href="http://www.feowl.com">feowl.com</a></p> 

<p>{% trans "We will contact you very soon by e-mail to ask you about your experience with electricity in Douala." %}</p>

<p>{% trans "Any question? You can contact us at contact@feowl.com" %}</p>

<p>{% trans "Many thanks, looking forward to your contributions!" %} </p>

<p>{% trans "Sincerely," %}</p>

<p>{% trans "The Feowl team" %}</p>

<p><small>
	{% trans "You received this message because this email address was used to register to Feowl." %} 
	<a href="http://www.feowl.com/user/profile"> {% trans "You can unsubscribe at anytime on this page" %}
</small></p>

{% endlanguage %}
